# .github/workflows/cronjob.yml
name: ingestion_cron

on:
  schedule:
    - cron: "30 9 * * *"  
  workflow_dispatch:

jobs:
  run-python-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          STAGING__FILESYSTEM__BUCKET_URL: gs://1p2s_raw
          DESTINATION__FILESYSTEM__BUCKET_URL: gs://1p2s_raw
          DESTINATION__BIGQUERY__PROJECT_ID: ${{ secrets.DESTINATION__BIGQUERY__PROJECT_ID }}
        run: |
          cat > gcloud_credentials.json << 'EOL'
          ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_JSON }}
          EOL
          export GOOGLE_APPLICATION_CREDENTIALS=gcloud_credentials.json
          python ingestion/main.py