# .github/workflows/cronjob.yml
name: cronjob

on:
  schedule:
    - cron: "30 9 * * *"  
  workflow_dispatch:

jobs:
  ingestion:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Create credentials file
        run: |
          echo -e ${{secrets.SERVICE_ACCOUNT_CREDENTIALS}} > credentials.json
          wc -l credentials.json
      
      - name: Create .env file
        run: |
          echo -e ${{secrets.YOUTUBE_API_KEY}} > .env
          echo -e ${{secrets.STAGING__FILESYSTEM__BUCKET_URL}} >> .env
          echo -e ${{secrets.GOOGLE_APPLICATION_CREDENTIALS}} >> .env
          echo -e ${{secrets.DESTINATION__FILESYSTEM__BUCKET_URL}} >> .env
          echo -e ${{secrets.DESTINATION__BIGQUERY__TRUNCATE_TABLES_ON_STAGING_DESTINATION_BEFORE_LOAD}} >> .env
          echo -e ${{secrets.DESTINATION__BIGQUERY__PROJECT_ID}} >> .env
          
          wc -l .env