# .github/workflows/cronjob.yml
name: ingestion_cron

on:
  schedule:
    - cron: "30 9 * * *"  
  workflow_dispatch:

jobs:
  run-python-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          STAGING__FILESYSTEM__BUCKET_URL: ${{ secrets.STAGING__FILESYSTEM__BUCKET_URL }}
          DESTINATION__FILESYSTEM__BUCKET_URL: ${{ secrets.DESTINATION__FILESYSTEM__BUCKET_URL }}
          DESTINATION__BIGQUERY__PROJECT_ID: ${{ secrets.DESTINATION__BIGQUERY__PROJECT_ID }}
          DESTINATION__BIGQUERY__TRUNCATE_TABLES_ON_STAGING_DESTINATION_BEFORE_LOAD: ${{ secrets.DESTINATION__BIGQUERY__TRUNCATE_TABLES_ON_STAGING_DESTINATION_BEFORE_LOAD }}
          DESTINATION__FILESYSTEM__CREDENTIALS__PROJECT_ID: ${{ secrets.DESTINATION__FILESYSTEM__CREDENTIALS__PROJECT_ID }}
          DESTINATION__FILESYSTEM__CREDENTIALS__PRIVATE_KEY: ${{ secrets.DESTINATION__FILESYSTEM__CREDENTIALS__PRIVATE_KEY }}
          DESTINATION__FILESYSTEM__CREDENTIALS__CLIENT_EMAIL: ${{ secrets.DESTINATION__FILESYSTEM__CREDENTIALS__CLIENT_EMAIL }}
          DESTINATION__FILESYSTEM__CREDENTIALS__CLIENT_ID: ${{ secrets.DESTINATION__FILESYSTEM__CREDENTIALS__CLIENT_ID }}
        run: |         
          python ingestion/main.py